{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="picture-whole site-flex">
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Favourites</h2>
                <hr>
            </div>
        </div>
        <!-- Display Favorites -->
        <div class="row">
            <div class="col">
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        {% for product in new %}
                        <tr>
                            <td class="p-3 w-25">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="img-fluid rounded " src="{{ product.image.url }}"
                                        alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <img class="img-fluid rounded " src="/media/noimage.png" alt="{{ item.product.name }}">
                                {% endif %}
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ product.name }}</strong></p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ product.price }}</p>
                            </td>
                            <td class="py-3">
                                <div id="favourite-section" class="col-12">
                                    <a href="{% url 'favourite_add' product.id %}"
                                        class="btn btn-outline-black rounded-0"><span
                                            class="text-uppercase">Remove</span></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Home</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}