/* Profiles Page */

.picture-whole {
    margin-top: 180px;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

/* Media Queries */

@media (max-width: 991px) {
    .picture-whole {
        margin-top: 120px;
    }
}

@media screen and (max-width: 408px) {
    .picture-whole {
        margin-top: 160px;
    }
}