@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Cinzel:wght@400..900&family=Noto+Sans+JP:wght@100..900&family=Sedan+SC&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Ysabeau+SC:wght@1..1000&display=swap');

html {
    height: 100%;
}

p {
    font-family: Urbanist, sans-serif;
}

h1, h2, h3 {
    font-family: Sedan SC, sans-serif;
}


/* Header/Nav bar */

.main-logo-link {
    width: fit-content;
}

.logo-font {
    font-family: Sedan SC, sans-serif;
}

.logo-font-head {
    font-family: Sedan SC, sans-serif;
    font-size: 50px;
    font-weight: 400;
}

.symbol {
    font-family: Cactus Classical Serif, sans-serif;
    font-size:35px;
    font-weight: 400; 
}

header {
    border:5px solid #000000; margin:5px;
    background-color: rgba(211, 211, 211, 0.5);
}

.head-layover {
    background-color: rgba(211, 211, 211, 0.9); 
}

.log-head {
    border:5px solid #000000; margin:0px;
    background-color: rgba(211, 211, 211, 0.9);
}


/* Home page */

.back0 {
    background: url('/media/jap-2.jpg') no-repeat center center;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
}

.back {
    background: url('/media/jap-1.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    border:5px solid #000000; padding:3px; margin:5px
}

.back2 {
    background: url('/media/jap-12.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    border:5px solid #000000; padding:3px; margin:5px
}

.back3 {
    background: url('/media/jap-6.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    border:5px solid #000000; padding:3px; margin:5px
}

.back4 {
    background: url('/media/jap-8.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    border:5px solid #000000; padding:3px; margin:5px
}

.back5 {
    background: url('/media/jap-11.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    border:5px solid #000000; padding:3px; margin:5px
}


/* Footer */

.social-links {
    font-size: 160%;
    clear: both;
    word-spacing: 20px;
    color: white;
    text-decoration: none;
}

.foot-color {
    background-color:rgba(211, 211, 211, 0.9);
    border:5px solid #000000; 
}


/* Allauth templates */

.form-allauth {
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
}

.logged-img {
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 100vh;
    flex-grow: 5;
}

.form-lg-in {
    width: 30rem;
    height: 30rem;
}

.form-lg-out {
    width: 55rem;
}

.form-reg {
    width: 55rem;
    height: 35rem;
}

.form-verify {
    width: 25rem;
}

.form-verify-ps {
    width: 25rem;
    height: 25rem;
}

.helptext {
    display: none;
}


/* Buttons */

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.btn-welcome {
    font-family: Sedan SC, sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.0);
    clip-path: polygon(15px 0,
            calc(100% - 15px) 0,
            100% 15px,
            100% calc(100% - 15px),
            calc(100% - 15px) 100%,
            15px 100%,
            0 calc(100% - 15px),
            0 15px);
    font-size: 20px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* Media Queries */

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

    .header-container {
        padding-top: 154px;
    }

    .header-container-lg {
        padding-top: 14px;
        padding-right: 100%
    }
}

@media screen and (max-width: 690px) {

    .form-verify {
        width: 20rem;
    }
}

@media screen and (max-width: 600px) {
    .logged-img {
        height: auto;
        width: 100%;
    }

    .reg-img {
        height: 480px;
    }

    .form-reg {
        width: 25rem;
        height: 35rem;
        font-size: small;
    }
}

@media screen and (max-width: 576px) {
    .form-lg-in {
        width: 20rem;
        height: 23rem;
        font-size: small;
    }

    .form-lg-out {
        width: 18rem;
    }

    .form-verify-ps {
        font-size: small;
    }

    .form-verify {
        font-size: small;
        width: 18rem;
    }
}


@media screen and (max-width: 420px) {
    .form-reg {
        width: 18rem;
        height: 35rem;
    }

    .reg-img {
        height: auto;
    }

    .form-verify-ps {
        width: 18rem;
        height: 30rem;
    }
}
